.container {
     z-index: 1;
     min-height: 86vh;
     max-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     transition: transform 0.5s ease-out;
}

@media (max-width: 768px) {
     .container {
     }
}
