.logo {
     color: $logoColor;
     span {
          color: #fff;
     }
     font-size: 2em;
     cursor: pointer;
     &:hover {
          filter: brightness(90%);
          animation: $pulse;
     }
}
