.about-container {
     margin-bottom: 0px;
     position: relative;
     .right-btn {
          position: absolute;
          top: 0;
          right: 0;
          border-radius: 0px 20px 0px 20px;
     }
     .left-btn {
          position: absolute;
          border-radius: 20px 0px 20px 0px;
          bottom: 0;
          right: 0;
     }
}

.about-details-container {
     background: linear-gradient(to right, #3333336b, rgba(230, 230, 250, 0.301));
     width: 50vw;
     height: fit-content;
     padding: 50px 0px;
     font-size: 1.1em;
     border-radius: 0px 0px 0px 20px;
     position: relative;
     h3 {
          position: absolute;
          bottom: 0;
          left: 0;
     }
}

.skills-container {
     border-radius: 0px 0px 20px 0px;
     width: 50vw;
     background: linear-gradient(to left, #3333336b, rgba(230, 230, 250, 0.301));
     h1 {
          font-size: 1.5rem;
          padding: 10px;
     }
}

.about-img {
     width: 200px;
     height: 200px;
     border-radius: 50%;
     transition: transform 5s ease-in-out;
     backface-visibility: hidden;
     object-fit: cover;
}

.express-logo {
     color: lavender;
}

.logos-grid {
     grid-template-columns: repeat(5, 1fr);
     justify-items: center;
     gap: 10px;
     i {
          font-size: 6em;
     }
     svg {
          width: 50px;
          rotate: -135deg;
          height: fit-content;
     }
     align-items: center;
}

.bullet-container {
     display: flex;
     margin: 0px;
     padding: 0px;
}

.hobbies-details-container,
.hobbies-skills-container {
     width: 50vw;
}
.hobbies-skills-container {
     background: linear-gradient(to left, #3333336b, rgba(230, 230, 250, 0.301));
     a {
          white-space: nowrap;
          font-size: 1.2em;
     }
}

.hobbies-details-container {
     background: linear-gradient(to right, #3333336b, rgba(230, 230, 250, 0.301));
}

@keyframes spin {
     0% {
          transform: rotate(0deg);
     }
     100% {
          transform: rotate(360deg);
     }
}
.details-container {
     h2 {
          margin-bottom: 15px;
     }
}

@media (max-width: 1200px) {
     .about-container {
          border: none;
          margin-bottom: 50px;
          width: 100%;
          margin: auto;
          flex-direction: column;
          .about-details-container {
               gap: 20px;
          }
          .about-details-container,
          .skills-container {
               p,
               h2 {
                    text-align: center;
               }

               border-radius: 0px;
               width: 100%;
               background: linear-gradient(to right, #101010, rgba(230, 230, 250, 0.452));
          }

          .skills-container {
               .logos-grid {
                    font-size: 0.8em;
                    background: rgba(0, 0, 0, 0.021);
                    padding: 20px;
               }
               padding-bottom: 50px;
          }

          .about-details-container {
               text-align: left;
               justify-items: center;
               flex-direction: column;
               align-items: center;
               img {
                    margin-bottom: 1%;
               }
               h2 {
                    margin: 0px;
               }
          }
     }
     .hobbies-container {
          flex-direction: column;
          h2 {
               border-bottom: 2px solid white;
               text-align: center;
          }
          .hobbies-details-container,
          .hobbies-skills-container {
               background: linear-gradient(to left, #101010, rgba(230, 230, 250, 0.452));
               width: 100%;
               box-shadow: 0px;
          }
          .hobbies-details-container {
               flex-direction: column;
          }
          .hobbies-skills-container {
               display: grid;
               gap: 0px;
               padding-bottom: 50px;
          }
          a {
               font-size: 1.4em;
          }
     }
}
