.contact-icons-container {
     gap: 6px;
     display: flex;
     align-items: center;
     margin-top: 5px;
     .icon {
          svg {
               color: $logoColor;
               font-size: 1.8rem;
               animation: $scaleBig;
               &:hover {
                    scale: 1.2;
                    color: $mainColor000;
               }
          }
     }
}
