.contact-icons-container {
    gap: 3px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    .icon {
        svg {
            color: $mainColor000;
            font-size: 1.5rem;
            &:hover {
                color: $logoColor;
            }
        }
    }
}
