.intro-container {
     position: relative;
     opacity: 0;
     transition: opacity 2.5s ease-in-out, transform 1.5s ease-in-out;
     gap: 20px;
     .img-container {
          top: 64px;
          z-index: 200;
     }
     .img-container.flipped .main-img {
          transform: rotateY(160deg);
     }
     .img-container.hovered .main-img {
          cursor: pointer;
     }
     .main-img {
          width: 350px;
          height: 350px;
          border-radius: 50%;
          transition: transform 0.4s ease-in-out;
          transform-style: preserve-3d;
          box-shadow: 1px 1.5px 1px $mainColor000;
          backface-visibility: hidden;
          position: 50% 50%;
          object-fit: cover;
     }
     .main-header {
          font-weight: 600;
          font-size: 2rem;
          border-radius: 10px;
          padding: 5px 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          p {
               margin: 0px;
               padding: 0px;
          }
          gap: 0px;
          span {
               color: $logoColor;
          }
     }
     .role-header {
          text-align: center;
          font-size: 1.2em;
          color: gray;
     }

     .description {
          font-size: 20px;
          margin-bottom: 20px;
     }
     .btns-container {
          text-align: center;
          gap: 20px;
          grid-template-columns: 1fr 1fr 1fr;
          flex-wrap: wrap;
          button {
               width: 200px;
               font-size: 1.2em;
               border-radius: 20px;
               padding: 5px;
          }
     }
}

.intro-container.fade-in-slide-in {
     transform: translateX(-100%);
}

.intro-container.show {
     opacity: 1;
     transform: translateX(0);
}

.main-header-container,
.btns-container {
     transition: opacity 0.2s ease-in-out;
}

@media (max-width: 1000px) {
     .intro-container {
          .main-header {
               font-size: 1.3rem;
          }
          .role-header {
               font-size: 1rem;
          }
          .main-img {
               width: 250px;
               height: 250px;
          }
          .description {
               font-size: 1.1rem;
               margin: auto;
               margin-bottom: 15px;
          }
          .btns-container {
               grid-template-columns: 1fr 1fr;
               gap: 10px;
               width: 95vw;
               font-size: 1.1rem;
               button {
                    width: 100%;
                    font-size: 0.9em;
                    border-radius: 20px;
                    padding: 10px 0px;
               }
          }
     }
}
