.intro-container {
    opacity: 0;
    transition: opacity 2s ease-in-out, transform 0.7s ease-in-out;
    gap: 20px;
    .img-container.flipped .main-photo {
        transform: rotateY(160deg);
    }
    .main-photo {
        perspective: 1000px;
        backface-visibility: hidden;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        transition: transform 0.5s ease-in-out;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }
    .main-header {
        font-weight: 600;
        font-size: 2rem;
        border-radius: 10px;
        padding: 5px 15px;
        display: flex;
        gap: 20px;
        span {
            color: $logoColor;
        }
    }
    .role-header {
        text-align: center;
        font-size: 1.2em;
        color: gray;
    }
    .img-container {
        max-width: 250px;
        max-height: 250px;
    }
    .description {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .btns-container {
        text-align: center;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        flex-wrap: wrap;
        button {
            width: 200px;
            font-size: 1.2em;
            border-radius: 20px;
            padding: 5px;
        }
    }
}

.intro-container.fade-in-slide-in {
    transform: translateX(-100%);
}

.show {
    opacity: 1;
}

@media (max-width: 1000px) {
    .intro-container {
        .main-header {
            font-size: 1.5rem;
        }
        .role-header {
            font-size: 1rem;
        }
        .description {
            font-size: 1rem;
        }
        .btns-container {
            grid-template-columns: 1fr 1fr;
            button {
                width: 40vw;
                min-width: 200px;
                max-width: 250px;
                font-size: 0.9em;
                border-radius: 20px;
                padding: 5px;
            }
        }
    }
}
