.navbar-container {
    background-color: $mainColor002;
    width: 100vw;
    box-shadow: 1px 1px 1px rgb(48, 48, 48);
    li {
        cursor: pointer;
        &:hover {
            filter: brightness(90%);
        }
    }
}

.nav-options-container {
    gap: 50px;
}

.logo {
    font-size: 30px;
    span {
        color: $logoColor;
    }
}
