.navbar-container {
     background-color: $mainColor001;
     opacity: 1;
     justify-content: space-evenly;
     transform: translateX(100%);
     position: sticky;
     transition: 2s opacity ease-in-out, 1s transform;
     top: 0;
     width: 100vw;
     padding: 8px 0px;
     z-index: 100;
}

.nav-options-container {
     gap: 10px;
     li {
          padding: 5px 10px;
          animation: $scaleBig;
          &:hover {
               scale: 1.1;
               border-radius: 20px;
               background-color: $hoverColor001;
               cursor: pointer;
               transition: 0.1s background-color ease-in-out;
          }
     }
}

.navbar-container.show {
     transform: translate(0);
     border-bottom: $hoverColor001 solid 1px;
}

@media (max-width: 768px) {
     .navbar-container {
          justify-content: space-between;
          padding: 5px 20px;
          border-bottom: $hoverColor001 solid 1px;
          &:nth-child(2) {
               position: absolute;
               bottom: 0;
          }
     }
     .nav-options-container {
          gap: 5px;
          display: none;
          flex-direction: row;
          font-size: 0.6rem;
          li {
               padding: 0px;
          }
     }
}
