* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    background-color: $mainColor001;
    color: white;
    display: flex;
    justify-content: center;
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    transition: 0.3s background-color ease-in-out;
}

.app-container {
    display: flex;
    height: fit-content;
    justify-content: center;
}

button {
    border: none;
    outline: none;
    &:hover {
        background-color: $logoColor;
    }
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s background-color ease-in-out;
}
