* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     scroll-behavior: smooth;
     -webkit-tap-highlight-color: transparent;
}

html {
     overflow: scroll;
     overflow-x: hidden;
}

::-webkit-scrollbar {
     display: none;
}

body {
     font-family: 'Poppins', 'Times New Roman', Times, serif;
     background-color: $mainColor001;
     color: white;
     display: flex;
     justify-content: center;
     min-height: 150vh;
}

ul {
     list-style: none;
}

a {
     text-decoration: none;
}

.app-container {
     display: flex;
     height: fit-content;
     justify-content: center;
}

button {
     border: none;
     &:hover {
          background-color: $mainColor000;
          scale: 1.01;
     }
     cursor: pointer;
     font-family: 'Poppins', sans-serif;
     transition: 0.1s scale ease-in-out;
}

button.selected {
     background-color: $logoColor;
     font-weight: 600;
}
