$mainColor000: #fff;
$mainColor001: #101010;
$mainColor002: #333;
$mainColor003: #7e7e7e;

$hoverColor001: #ffffff13;
$scrollBorderColor: #181818;
$scrollColor: #141414;

$logoColor: rgb(175, 175, 248);
